{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
  <div class="product-grid">
    {% for product in products %}
    <div class="product-card">
        <div class="book-cover-container">
          <img src="{{ asset ('uploads/images/' ~ product.image) }}" class="book-cover">
        </div>
        <a  style="text-decoration : none; " href="{{path('app_home_product_show', {'id':product.id}) }}"><h2 class="book-title">{{product.name}}</h2></a>
        <h5 class="book-author">{{product.auteur}} </h5>
        <p class="book-price">${{product.price}}</p>
        {% if product.stock > 0 %} 
        <p class="stock">En Stock</p>
        <a href ="{{path('app_cart_new',{'id':product.id})}}" class="cta-button">Ajouter au pannier</a>
          {% else  %}
          <p class="non-stock">Rupture de stock</p>
          <a href ="#" class="cta-button disabled">Ajouter au pannier</a>
        {% endif %}
      </div>
    {% endfor %} 
  </div>
</div>
  {{knp_pagination_render(products, 'layouts/pagination_template.html.twig')}}
{% endblock %}
