{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<div class="container"><br> <br>
    <h1>Categories</h1><br> <br>
     {% include "layouts/flash_msg.html.twig" %} 
    <div class="container"> 
        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>Nom de categorie</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %} 
                <tr>
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{{path('app_category_update',{'id':category.id})}}">
                            Modifier <i class="fa-solid fa-pen"></i>
                        </a> 
                        <a href="{{path('app_category_delete',{'id':category.id})}}" onclick="return confirm('voulez vous vraiment Supprimer cette categorie')" class="btn btn-danger">
                          Supprimer  <i class="fa-solid fa-trash" style="font-size:15px ; margin:5px"></i>
                        </a>
                    </td>
                </tr>
                {% else %}Aucune Categories affiché pour l'instant
            {% endfor %}
            </tbody>
        </table>
        <br>
        <a class="btn btn-outline-primary" href="{{path('app_category_new')}}">Ajouter une categorie</a> 
</div>
{% endblock %}
