{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<div class="container">
    <h1>Product</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>Auteur</th>
                <th>Descreption</th>
                <th>Price</th>

            </tr>
            <tr>
                <td>{{ product.id }}</td>
                <td><img src="{{ asset('uploads/images/' ~ product.image) }}" style="width:50px;"></td>
                <td>{{ product.name }}</td>
                <td>{{ product.auteur }}</td>
                <td>{{ product.descreption }}</td>
                <td>{{ product.price }}</td>

            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_product_index') }}">back to list</a>

    <a class="btn btn-info" href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
    {{ include('product/_delete_form.html.twig') }}
</div>
{% endblock %}
