{{ form_start(form) }}
<label for="">Nom de la sous Categorie</label>
{{form_widget(form.name,{'attr':{'class':'form form-control'}} ) }}
<label for="">Nom de la categorie</label>
{{form_widget(form.category,{'attr':{'class':'form form-control'}} ) }}
   <br> <button class="btn btn-outline-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
