{% extends 'base.html.twig' %}

{% block title %}SubCategory{% endblock %}

{% block body %}
<div class="container">
    <h1>SubCategory</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            <tr>
                <td>{{ sub_category.id }}</td>
                <td>{{ sub_category.name }}</td>
            </tr>
        </tbody>
    </table>
<div class="row">
    <a href="{{ path('app_sub_category_index') }}" class="btn btn-success col-2 m-lg-1">back to list</a>

    <a href="{{ path('app_sub_category_edit', {'id': sub_category.id}) }}" class="btn btn-primary col-2 m-lg-1">edit</a>
</div>

    {{ include('sub_category/_delete_form.html.twig') }}
</div>
{% endblock %}
