{% extends 'base.html.twig' %}

{% block title %}Search results{% endblock %}

{% block body %}
<main class="container py-3">
  <div class="row g-4">
    {% for product in products %}
  <div class="col-md-6 col-lg-4">
    <div class="card h-100">
      <div class="card-body text-center position-relative">
        <img alt="Book cover" class="book-cover img-fluid rounded" src="{{ asset ('uploads/images/' ~ product.image) }}"/> 
        <a href="{{path('app_home_product_show', {'id':product.id}) }}">
          <h4 class="card-title mt-3" style="text-decoration : none;"> {{product.name}} </h4>
        </a>
        {% if product.stock > 0 %}
        <p class="stock">En Stock</p>
        <p class="price" style="color:black">{{product.price}} TND</p>
        <a class="btn btn-outline-secondary w-100" href ="{{path('app_cart_new',{'id':product.id})}}">
          <i class="fas fa-shopping-cart me-2"></i>
          Ajouter au panier
        </a>
        {%else%}
        <p class="non-stock">Ruptur de stock</p>
        <p class="price" style="color:black" >{{product.price}} TND</p>
        <a class="btn btn-outline-secondary w-100" href ="#">
          <i class="fas fa-shopping-cart me-2"></i>
          Ajouter au panier
        </a>
        {% endif %}
        
      
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</main>
{% endblock %}