{% extends 'base.html.twig' %}

{% block title %}Utilisateurs {% endblock %}

{% block body %}

<div class="container">
    <br> <h1>Utilisateurs</h1><br>
    {% include 'layouts/flash_msg.html.twig' %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>    
                <th>Email</th>    
                <th>Nom</th>    
                <th>Prénom</th>
                <th>Role</th>
                <th>Action</th>
            <tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>
                        {%if ('ROLE_ADMIN' in user.roles) %}
                            <span class="text-primary">Administrateur</span>
                        {% elseif ('ROLE_EDITOR' in user.roles)%}
                            <span class="text-success"> Editeur </span>
                        {% else %}
                            <span class="text-secondary">Client</span>
                        {%endif%}
             
                    </td>
                    <td>
                        {%if ('ROLE_ADMIN' in user.roles  ) == false%}
                            {% if ('ROLE_EDITOR' in user.roles)==false %}
                                <a onclick="return confirm('voulez vous vraiment affectuer le role éditeure ?')" class="btn btn-outline-primary" href="{{path('app_user_to_editor',{'id':user.id})}}">Ajouter comme éditeur</a>
                            {% else %}
                                <a onclick="return confirm('voulez vous vraiment retiré le role éditeure ?')" class="btn btn-danger" href="{{path('app_user_remove_editor_role',{'id':user.id})}}">Retiré le role éditeur</a>
                            {%endif%}
                            <a onclick="return confirm('voulez vous vraiment supprimer cet l'utilisateur ?')" href ="{{path('app_user_remove',{'id':user.id})}}" class="btn btn-danger">Supprimer</a>
                        {% endif %} 
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
